*, *::before,*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

ol, ul, li {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	background: transparent;
	border: none;
}